# Week 1 Exam - Hands on Portion

- You have **1 hour** to complete this notebook.
- The exam is "Open Book" (internet, documentation, forums, etc.), but **please do not use any AI tools for this assignment**.

> **Submit your notebook via the "Week 1 exam - applied" assignment [HERE](https://stormsurge.skillstorm.com/courses/4112/quizzes/19719).**

The dataset for this assignment is located [HERE](https://www.kaggle.com/datasets/paradisejoy/top-hits-spotify-from-20002019). <br/>
    - it is also available in the GitHub repository

## Questions

1. How many records are in the dataset?  

    If records is referring to the songs, then there would be 1879 records.

2. What year is the oldest song in the dataset from?  

    Oldest song is from 1998.

3. What is the most popular song in the dataset?  

    The most popular song is "Sweater Weather" by The Neighbourhood.

4. How many unique genres are there?  

    There are 15 unique genres

5. What is the most popular genre?

    Most popular genre is Pop with 1633 songs with it as one of its listed genres.

6. Who is the most popular artist?  
7. Who is the artist of the longest song name?  
8. What is the total duration of songs in milliseconds (ms)?  
9. What is the most popular song from 2003?

### Optional Challenge Questions (no impact on your score; bonus points may be awarded)

10. Which genre most frequently appears with at least one other genre (i.e., in multi-genre entries)?
11. Which combination of genres appears together most frequently in the dataset?

In [1]:
import numpy as np
import pandas as pd

#### Start of EDA

In [ ]:
# load in csv file
df = pd.read_csv("songs_normalize.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   artist            2000 non-null   object
 1   song              2000 non-null   object
 2   duration_ms       2000 non-null   int64
 3   explicit          2000 non-null   bool
 4   year              2000 non-null   int64
 5   popularity        2000 non-null   int64
 6   danceability      2000 non-null   float64
 7   energy            2000 non-null   float64
 8   key               2000 non-null   int64
 9   loudness          2000 non-null   float64
 10  mode              2000 non-null   int64
 11  speechiness       2000 non-null   float64
 12  acousticness      2000 non-null   float64
 13  instrumentalness  2000 non-null   float64
 14  liveness          2000 non-null   float64
 15  valence           2000 non-null   float64
 16  tempo             2000 non-null   float64
 17  genre             2000 non-null   object
dtypes: bool(1), float64(9), int64(5), object(3)
memory usage: 267.7+ KB

In [11]:
df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,pop
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,"rock, pop"
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,"pop, country"
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,"rock, metal"
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,pop

In [ ]:
# no missing values
df.isna().sum()

artist              0
song                0
duration_ms         0
explicit            0
year                0
popularity          0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
genre               0
dtype: int64

In [5]:
df.describe()

,duration_ms,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo
count,2000.000000,2000.00000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,228748.124500,2009.49400,59.872500,0.667438,0.720366,5.378000,-5.512434,0.553500,0.103568,0.128955,0.015226,0.181216,0.551690,120.122558
std,39136.569008,5.85996,21.335577,0.140416,0.152745,3.615059,1.933482,0.497254,0.096159,0.173346,0.087771,0.140669,0.220864,26.967112
min,113000.000000,1998.00000,0.000000,0.129000,0.054900,0.000000,-20.514000,0.000000,0.023200,0.000019,0.000000,0.021500,0.038100,60.019000
25%,203580.000000,2004.00000,56.000000,0.581000,0.622000,2.000000,-6.490250,0.000000,0.039600,0.014000,0.000000,0.088100,0.386750,98.985750
50%,223279.500000,2010.00000,65.500000,0.676000,0.736000,6.000000,-5.285000,1.000000,0.059850,0.055700,0.000000,0.124000,0.557500,120.021500
75%,248133.000000,2015.00000,73.000000,0.764000,0.839000,8.000000,-4.167750,1.000000,0.129000,0.176250,0.000068,0.241000,0.730000,134.265500
max,484146.000000,2020.00000,89.000000,0.975000,0.999000,11.000000,-0.276000,1.000000,0.576000,0.976000,0.985000,0.853000,0.973000,210.851000

#### Answer to #1

In [ ]:
df.nunique()
# do records mean songs?

artist               835
song                1879
duration_ms         1793
explicit               2
year                  23
popularity            76
danceability         565
energy               580
key                   12
loudness            1671
mode                   2
speechiness          837
acousticness        1208
instrumentalness     772
liveness             783
valence              760
tempo               1831
genre                 59
dtype: int64

#### Answer to #2

In [ ]:
songs_by_year = df.sort_values("year")
# songs_by_year
songs_by_year.head()
# oldest song is "Hot Boyz" by Missy Elliott

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
44,Missy Elliott,Hot Boyz,215466,True,1998,49,0.727,0.445,1,-11.241,1,0.2910,0.3390,0.000000,0.1800,0.527,81.125,"hip hop, pop, R&B"
53,Sisqo,Incomplete,274226,True,1999,60,0.746,0.443,1,-7.693,0,0.0771,0.2820,0.000000,0.1400,0.272,119.311,"hip hop, pop, R&B"
57,Donell Jones,"U Know What's Up (feat. Lisa ""Left Eye"" Lopes)",243733,True,1999,63,0.854,0.543,8,-6.166,0,0.0844,0.0402,0.000057,0.0419,0.868,103.032,"pop, R&B"
55,Mariah Carey,Thank God I Found You (feat. Joe & 98°),257360,False,1999,59,0.348,0.532,10,-5.882,1,0.0331,0.5920,0.000000,0.1060,0.148,129.297,"pop, R&B"
64,Christina Aguilera,I Turn to You,273706,False,1999,61,0.599,0.470,1,-8.356,1,0.0376,0.3800,0.000000,0.1110,0.298,127.177,pop

#### Answer to #3

In [ ]:
songs_by_pop = df.sort_values("popularity", ascending=False)
songs_by_pop.head()
# most popular song is "Sweater Weather" by The Neighbourhood

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
1322,The Neighbourhood,Sweater Weather,240400,False,2013,89,0.612,0.807,10,-2.810,1,0.0336,0.04950,0.017700,0.1010,0.398,124.053,"rock, pop"
1311,Tom Odell,Another Love,244360,True,2013,88,0.445,0.537,4,-8.532,0,0.0400,0.69500,0.000017,0.0944,0.131,122.769,pop
201,Eminem,Without Me,290320,True,2002,87,0.908,0.669,7,-2.827,1,0.0738,0.00286,0.000000,0.2370,0.662,112.238,hip hop
1929,Billie Eilish,lovely (with Khalid),200185,False,2018,86,0.351,0.296,4,-10.109,0,0.0333,0.93400,0.000000,0.0950,0.120,115.284,"pop, Dance/Electronic"
1613,WILLOW,Wait a Minute!,196520,False,2015,86,0.764,0.705,3,-5.279,0,0.0278,0.03710,0.000019,0.0943,0.672,101.003,"pop, R&B, Dance/Electronic"

#### Answer to #4

In [36]:
# pretty sure this counts something like (rock), (rock, pop), and (pop) as 3 unique genres instead of 2
genre_list = df["genre"].nunique()
genre_list

59

In [ ]:
# splits all genres by comma before putting it into a large list
genre_split = df["genre"].str.split(",")
all_genres = [g.strip() for list in genre_split for g in list]
all_genres
# turn the long list into a set so we only have the unique genres
set(all_genres)
print(len(set(all_genres)))
# we have 15 unique genres

15

#### Answer to #5

In [59]:
df.head()

,artist,song,duration_ms,explicit,year,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,genre
0,Britney Spears,Oops!...I Did It Again,211160,False,2000,77,0.751,0.834,1,-5.444,0,0.0437,0.3000,0.000018,0.3550,0.894,95.053,pop
1,blink-182,All The Small Things,167066,False,1999,79,0.434,0.897,0,-4.918,1,0.0488,0.0103,0.000000,0.6120,0.684,148.726,"rock, pop"
2,Faith Hill,Breathe,250546,False,1999,66,0.529,0.496,7,-9.007,1,0.0290,0.1730,0.000000,0.2510,0.278,136.859,"pop, country"
3,Bon Jovi,It's My Life,224493,False,2000,78,0.551,0.913,0,-4.063,0,0.0466,0.0263,0.000013,0.3470,0.544,119.992,"rock, metal"
4,*NSYNC,Bye Bye Bye,200560,False,2000,65,0.614,0.928,8,-4.806,0,0.0516,0.0408,0.001040,0.0845,0.879,172.656,pop

In [ ]:
# genre_pop_count = df["genre"].value_counts().get("pop")
# genre_pop_count

genre_dict = {}
# all_genres was created from previous question
for genre in all_genres:
    genre_dict[genre] = genre_dict.get(genre, 0) + 1

genre_dict

# if somethign has genre (pop, rock, coutry), it will be considered a genre for all three

{'pop': 1633,
 'rock': 234,
 'country': 21,
 'metal': 66,
 'hip hop': 778,
 'R&B': 452,
 'Dance/Electronic': 390,
 'Folk/Acoustic': 20,
 'easy listening': 7,
 'latin': 64,
 'blues': 4,
 'set()': 22,
 'World/Traditional': 10,
 'jazz': 2,
 'classical': 1}

In [83]:
# # Check
# # THIS ONLY ACCOUNTS FOR ONE GENRE
# jazz_genre = df.loc[df["genre"] == "Dance/Electronic"]
# jazz_genre

#### Answer to #6

In [ ]:
# does a group by for artists by their popularity
# uses .sum() to get the total, and sort valeus from greatest to least
pop_artist = df.groupby("artist")["popularity"].sum().sort_values(ascending=False)
# Rihanna is the most popular artist

<bound method Series.sort_values of artist
Rihanna           1803
Eminem            1519
Drake             1424
Calvin Harris     1356
Britney Spears    1198
                  ...
Michel Teló          0
Martin Jensen        0
Loud Luxury          0
Tim Berg             0
AJR                  0
Name: popularity, Length: 835, dtype: int64>